{% extends "admin/table.html" %}{% load static %} {% block table %}

<div class="row table_custom pt--30">
  <table class="table table-light table-hover ">
    <thead>
      <tr>
        <th width="15%">User_id</th>
        <th width="15%">F_name</th>
        <th width="15%">L_name</th>
        <th width="15%">Email</th>
        <th width="15%">Address</th>
        <th width="15%">role_id</th>
        <th width="10%">lab_id</th>
      </tr>
    </thead>
    <tbody>
      {% for k,v in data.user_data.items %}
      <tr>
        <td>{{ k }}{{ v }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
