{% extends "lab_operator/boilerplate.html" %}<!-- this is a test-->
{%load static%} {% block LabOperator%}
{% include "lab_operator/charts/boilerplate.html"%}
<!-- start chart js -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
start highcharts js
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script> -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div class="page-title-area">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Analysis</h4>
        <ul class="breadcrumbs pull-left">
          <li><a href="{% url 'login' %}">Home</a></li>
          <li><span>Analysis</span></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 clearfix">
      <div class="user-profile pull-right">
        <img
          class="avatar user-thumb"
          src="{% static 'images/author/avatar.png' %}"
          alt="avatar"
        />
        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
          {{ request.session.username }} <i class="fa fa-angle-down"></i>
        </h4>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Message</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
      aria-selected="true">Last 20 Records</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just"
      aria-selected="false">Lab Data</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#test-just" role="tab"
        aria-controls="contact-just" aria-selected="false">Experiment wise analysis</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab" aria-controls="contact-just"
      aria-selected="false">Tabular Data</a>
  </li>
</ul>
<div class="tab-content card pt-5" id="myTabContentJust">
  <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
    {% include "lab_operator/charts/analysis/historic_data.html" %}
  </div>
  <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
    {% include "lab_operator/charts/analysis/lab_data.html" %}
  </div>
  <div class="tab-pane fade" id="test-just" role="tabpanel" aria-labelledby="test-tab-just">
    {% include "lab_operator/charts/analysis/schedule_data.html" %}
  </div>
  <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
    {% include "lab_operator/charts/analysis/tabular_data.html" %}
  </div>
</div>  
{% endblock %}
</div>
