{% load static %} {% block LabOperator %}
<div class="container" style="width:100%; margin-left:35%">
<div class="row text-center" id="error_alert">
</div>
</div>
<div class = "row">
<div class="container mr-auto text-center">
    <h5 class = "mb-4 mt-0">Select appropriate date and time range </h5>
    
  <form class="form-inline">
    <div class="form-group">
      <label for="start-date-input">Start Date</label>
      <div class="col-2">
        <input class="form-control" type="date" id="start-date-input" />
      </div>
    </div>
    <div class = "form-group">
      <label for="start-time-input">Start Time</label>
      <div class="col-2">
        <input class="form-control" type="time" id="start-time-input" />
      </div>
    </div>
    <div class="form-group">
      <label for="end-date-input">End Date</label>
      <div class="col-2">
        <input class="form-control" type="date" id="end-date-input" />
      </div>
    </div>
    <div class = "form-group">
      <label for="end-time-input">Start Time</label>
      <div class="col-2">
        <input class="form-control" type="time" id="end-time-input" />
      </div>
      </div>
    <div class="form-group">
        <div class="col-2">
            <a class="btn" style="background-color:#4336FB;color:white" id="range">Submit</a>
        </div>
    </div>
    </div>
  </form>
</div>
<div class = "row mt-4 text-center" id="hide_instruction">
  <div class = "col-12">
        <hr />
        <p class = "text-muted">
            To load data onto the page , select a date and time range within<br/>
            which you wish to load the content for.<br />
            <br />
            <br />
            If you select only start date , it will get data from that date to current date<br/>
            <br />
            <br />
            If you select only last date , it will get data from start to selected date<br />
            <br />
            <br />
        </p>
    </div>
    <hr />
</div>
<div class="row mt-1 text-center">
  <div class="col-12">
    <div id ="content">
  </div>
</div>
</div>

<script>
    jQuery(function($){      
        $("#range").click(function(){
            start_date = $("#start-date-input").val()
            end_date = $("#end-date-input").val()
            start_time = $("#start-time-input").val()
            end_time = $("#end-time-input").val()
            console.log(start_date)
            console.log(end_date)
            console.log(start_time)
            console.log(end_time)
            $.post(
              "http://127.0.0.1:8000/get_scheduled_data",
              {
                s_date : start_date,
                e_date: end_date,
                s_time: start_time,
                e_time: end_time,
              },
              function(data,status){
                console.log(data)
                if(data["Error"])
                {
                  console.log("Hi")
                  $("#error_alert").html('<div class="alert alert-danger text-center col-4 mr-auto" alert="role"> '+data["Error"]+'</div>')
                  $("#error_alert").show() 
                }
                else
                {
                  var acc = "";
                  html_content = "<div class='container'><div class = 'accordion'>"
                  var content = "";
                  $("#hide_instruction").hide()
                    $.each(data["data"] ,function(i,d){
                      console.log(d)
                    content += 
                    '  <div class="card">\
                        <div class="card-header" id = "headingOne" >\
                          <h5 class="mb-0">\
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">\
                              Collapsible Group Item #1\
                            </button>\
                          </h5>\
                        </div >\
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">\
                          <div class="card-body">\
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven\'t heard of them accusamus labore sustainable VHS.\
                        </div>\
                        </div>\
                      </div >'
                  })
                  html_content = '<div class="accordion">'+content+'</div></div>';
                  $("#content").html(html_content)
                }
              }
            )
        })
        })
</script>
{% endblock %}
