{% include "lab_operator/charts/boilerplate.html" %}
{% load static %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="{% static 'js/chartist-plugin-legend.js' %}"></script>
<script src="{% static 'js/chartist-hover.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/legend.css' %}">
<div class="container">
  <div class="card mb-5 text-center" style="height: 250px;">
    <h6 class="card-title">Last 20 records for <div class="title-text1"></div>
    </h6>
    <div id="chart1"></div>
  </div>
</div>

<script>
  jQuery(function ($) {
    $.get(
      "http://127.0.0.1:8000/incharge/sensor_data_20",
      function (data) {
        console.log(data)
        var created_at = []
        var temp = []
        var hum = []
        var aqi = []
        var date = ""

        $.each(data, function (i, item) {
          date = new Date(item["date"])
          label = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds()
          created_at.push(label)
          temp.push(item["field1"])
          hum.push(item["field2"])
          aqi.push(item["field3"])
          date = date.getDate() + "-" + date.getMonth() + "-" + date.getFullYear()
        })

        $(".title-text1").html(date)
        new Chartist.Line('#chart1', {
          labels: created_at,
          series: [
            temp,
            hum,
            aqi
          ]
        }, {
          fullWidth: true,
          chartPadding: {
            right: 40
          },
          plugins: [
            Chartist.plugins.legend({
              legendNames: ["Temperature", "Humidity", "Pressure"]
            })
          ]
        }).on("draw", function (data) {
          if (data.type === "point") {
            data.element._node.setAttribute("title", "Value: " + data.value.y);
            data.element._node.setAttribute("data-chart-tooltip", "chart1");
          }
        }).on("created", function () {
          // Initiate Tooltip
          $("#chart1").tooltip({
            selector: '[data-chart-tooltip="chart1"]',
            container: "#chart1",
            html: true
          });
        });
        ;
      }
    )
  })

</script>