{% load static %} {% include "lab_operator/charts/boilerplate.html" %}
<link
  id="themecss"
  rel="stylesheet"
  type="text/css"
  href="//www.shieldui.com/shared/components/latest/css/light/all.min.css"
/>
<script
  type="text/javascript"
  src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"
></script>
<script
  type="text/javascript"
  src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"
></script>
<body class="theme-light">
  <div id="temp" class="chart"></div>
  <div id="hum" class="chart"></div>
  <div id="aqi" class="chart"></div>
  <script type="text/javascript">
    jQuery(function ($) {
      var temp = new Array();
      var hum = new Array();
      var aqi = new Array();
      $('#temp').shieldChart({
        theme: 'light',
        applyAnimation: false,
        exportOptions: {
          image: false,
          print: false,
        },
        tooltipSettings: {
          enabled: false,
        },
        seriesSettings: {
          line: {
            applyAnimation: false,
            pointMark: {
              enabled: false,
            },
          },
        },
        axisX: {
          min: 0,
          max: 55,
        },
        primaryHeader: {
          text: 'temperature',
        },
        dataSeries: [
          {
            seriesType: 'line',
            collectionAlias: 'Temperature in celcius',
            data: temp,
          },
        ],
      });
      $('#hum').shieldChart({
        theme: 'light',
        applyAnimation: false,
        exportOptions: {
          image: false,
          print: false,
        },
        tooltipSettings: {
          enabled: false,
        },
        seriesSettings: {
          line: {
            applyAnimation: false,
            pointMark: {
              enabled: false,
            },
          },
        },
        axisX: {
          min: 0,
          max: 55,
        },
        primaryHeader: {
          text: 'Humidity',
        },
        dataSeries: [
          {
            seriesType: 'line',
            collectionAlias: 'Humidity in %',
            data: hum,
          },
        ],
      });
      $('#aqi').shieldChart({
        theme: 'light',
        applyAnimation: false,
        exportOptions: {
          image: false,
          print: false,
        },
        tooltipSettings: {
          enabled: false,
        },
        seriesSettings: {
          line: {
            applyAnimation: false,
            pointMark: {
              enabled: false,
            },
          },
        },
        axisX: {
          min: 0,
          max: 55,
        },
        primaryHeader: {
          text: 'Air Quality',
        },
        dataSeries: [
          {
            seriesType: 'line',
            collectionAlias: 'Air Quality Index',
            data: aqi,
          },
        ],
      });

      setInterval(function () {
        $.ajax({
          url:
            'https://api.thingspeak.com/channels/1017900/feeds/last?api_key=CQ98H95JG2IBYHNH',
          dataType: 'json',
          success: function (data) {
            temp[temp.length] = parseFloat(data['field1']);
            hum[hum.length] = parseFloat(data['field2']);
            aqi[aqi.length] = parseFloat(data['field3']);

            if (temp.length != 0) {
              diff_temp = Math.abs(
                temp[temp.length - 1] - temp[temp.length - 2]
              );
              diff_hum = Math.abs(hum[hum.length - 1] - hum[hum.length - 2]);
              diff_aqi = Math.abs(aqi[aqi.length - 1] - aqi[aqi.length - 2]);
              console.log(diff_aqi);
              if (diff_temp >= 5) {
                $.post(
                  'http://127.0.0.1:8000/create_notif/1',
                  {
                    temp_before: temp[temp.length - 2],
                    temp_after: temp[temp.length - 1],
                  },
                  function (data) {
                    console.log(data);
                  }
                );
              }
              if (diff_hum >= 10) {
                $.post(
                  'http://127.0.0.1:8000/create_notif/2',
                  (data = {
                    hum_before: hum[hum.length - 2],
                    hum_after: hum[hum.length - 1],
                  }),
                  function (data) {
                    console.log(data);
                  }
                );
              }
              if (diff_aqi >= 200) {
                $.post(
                  'http://127.0.0.1:8000/create_notif/3',
                  (data = {
                    aqi_before: aqi[aqi.length - 2],
                    aqi_after: aqi[aqi.length - 1],
                  }),
                  function (data) {
                    console.log(data);
                  }
                );
              }
            }

            if (temp.length > 50) {
              temp = temp.splice(1, 49);
            }
            if (hum.length > 50) {
              hum = hum.splice(1, 49);
            }
            if (aqi.length > 50) {
              hum = hum.splice(1, 49);
            }

            var container = $('#temp').swidget();
            if (container) {
              container.destroy();
            }
            var container = $('#hum').swidget();
            if (container) {
              container.destroy();
            }

            var container = $('#aqi').swidget();
            if (container) {
              container.destroy();
            }
            $('#temp').shieldChart({
              theme: 'light',
              applyAnimation: false,
              seriesSettings: {
                line: {
                  applyAnimation: false,
                  pointMark: {
                    enabled: false,
                  },
                },
              },
              tooltipSettings: {
                enabled: false,
              },
              exportOptions: {
                image: false,
                print: false,
              },
              axisX: {
                min: 0,
                max: 55,
              },
              primaryHeader: {
                text: 'temperature',
              },
              dataSeries: [
                {
                  seriesType: 'line',
                  collectionAlias: 'Temperature in celcius',
                  data: temp,
                },
              ],
            });
            $('#hum').shieldChart({
              theme: 'light',
              applyAnimation: false,
              seriesSettings: {
                line: {
                  applyAnimation: false,
                  pointMark: {
                    enabled: false,
                  },
                },
              },
              tooltipSettings: {
                enabled: false,
              },
              exportOptions: {
                image: false,
                print: false,
              },
              axisX: {
                min: 0,
                max: 55,
              },
              primaryHeader: {
                text: 'Humidity',
              },
              dataSeries: [
                {
                  seriesType: 'line',
                  collectionAlias: 'HUmidity in %',
                  data: hum,
                },
              ],
            });
            $('#aqi').shieldChart({
              theme: 'light',
              applyAnimation: false,
              exportOptions: {
                image: false,
                print: false,
              },
              tooltipSettings: {
                enabled: false,
              },
              seriesSettings: {
                line: {
                  applyAnimation: false,
                  pointMark: {
                    enabled: false,
                  },
                },
              },
              axisX: {
                min: 0,
                max: 55,
              },
              primaryHeader: {
                text: 'Air Quality',
              },
              dataSeries: [
                {
                  seriesType: 'line',
                  collectionAlias: 'Air Quality Index',
                  data: aqi,
                },
              ],
            });
          },
        });
      }, 1000);
    });
  </script>
  <style scoped>
    .chart {
      width: 33%;
      display: inline-block;
      *display: inline;
      zoom: 1;
    }
  </style>
</body>
