{% load static %}
{% include "lab_operator/charts/boilerplate.html" %}

<style>
    #humidity1 .ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: blue;
  /* Control the thikness of your lines */
  stroke-width: 3px;
  background-color: blue;
  /* Create a dashed line with a pattern */
}
#humidity1 .ct-series-a .ct-point {
  /* Colour of your points */
  stroke: blue;
}
</style>
<div class="ct-chart" height="600" id="humidity1">
    <div class="spinner-grow text-secondary" role="status" id="loader1">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<script src="{% static 'js/chartist-plugin-threshold.js' %}"></script>
<script>
    $(document).ready(function () {
        $.getJSON("https://api.thingspeak.com/channels/1017900/fields/2.json?api_key=CQ98H95JG2IBYHNH&results=10", function (result) {
            $("#loader1").hide()
            var series = result["feeds"]
            var data = []
            var created_at = []
            var sum = 0
            var length = 0
            $.each(series, function (i, s) {
                data.push(s["field2"])
                sum = sum + s["field2"]
                length = length + 1
                var time = s["created_at"].split("T")
                time = time[1]
                time = time.substring(0, time.length - 1)
                created_at.push(time)
            })

            var avg = sum / length

            console.log(data)
            console.log(created_at)
            new Chartist.Line('#humidity1', {
                labels: created_at,
                series: [data]
            }, {
                chartPadding: {
                    right: 40
                },

                lineSmooth: true,
                axisX: {
                    // We can disable the grid for this axis
                    showGrid: false,
                    // and also don't show the label

                },
                
                axisY: {
                    // We can disable the grid for this axis
                    showGrid: false,
                    // and also don't show the label
                    labelInterpolationFnc: function (value) {
                        return value + '%';
                    }
                },

            });
        })
    })


</script>
</div>