{% load static %}
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"
/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ctype="text/javascript"></script>
  <div class="ct-chart" height="600" id="temperature">
  <div class="spinner-grow text-secondary" role="status" id="loader">
  <span class="sr-only">Loading...</span>
</div>
</div>
  <script src = "{% static 'js/chartist-plugin-threshold.js' %}"></script>
  <script>
  $(document).ready(function(){
    $.getJSON("https://api.thingspeak.com/channels/1017900/fields/1.json?api_key=CQ98H95JG2IBYHNH&results=10",function(result)
    {
      $("#loader").hide()
      var series = result["feeds"]
      var data = []
      var created_at = []
      var sum = 0
      var length = 0
      $.each(series , function(i ,s){
        data.push(s["field1"])
        sum = sum+  s["field1"]
        length = length + 1
        var time = s["created_at"].split("T")
        time = time[1]
        time = time.substring(0 , time.length-1)
        created_at.push(time)
      })

      var avg = sum/length

      console.log(data)
      console.log(created_at)
      new Chartist.Line('.ct-chart', {
        labels: created_at, 
        series: [data]
      }, {
        chartPadding: {
          right: 40
        },
        
        lineSmooth: true,
        axisX: {
          // We can disable the grid for this axis
          showGrid: false,
          // and also don't show the label
          
        },
        showArea:true,
        axisY: {
          // We can disable the grid for this axis
          showGrid: false,
          // and also don't show the label
          labelInterpolationFnc: function (value) {
            return  value + '°C';
          }
        },
       
      });
    })
  })

    
  </script>
</div>
