{% extends 'boilerplate.html' %} {% block login %}
<!-- preloader area start -->
<div id="preloader">
  <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area login-bg">
  <div class="container">
    <div class="login-box ptb--100">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="login-form-head">
          <h4>Login</h4>
          <p>Hello there, login to start monitoring your lab.</p>
        </div>
        <div class="login-form-body">
          <div class="form-gp">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" id="exampleInputEmail1" name="email" />
            <i class="ti-email"></i>
            <div class="text-danger"></div>
          </div>
          <div class="form-gp">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" id="exampleInputPassword1" name="password" />
            <i class="ti-lock"></i>
            <div class="text-danger"></div>
          </div>
          <div class="row mb-4 rmber-area">
            <div class="col-6">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="customControlAutosizing"
                />
                <label
                  class="custom-control-label"
                  for="customControlAutosizing"
                  >Remember Me</label
                >
              </div>
            </div>
            <div class="col-6 text-right">
              <a href="#">Forgot Password?</a>
            </div>
          </div>
          <div class="submit-btn-area">
            <button id="form_submit" type="submit">
              Login <i class="ti-arrow-right"></i>
            </button>
            <br />
            <br />
            <div class="submit-btn-area">
            <a class = "btn btn-primary rounded" style = "background-color: #8655FC" href = "{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i>
              Login with google
              </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- login area end -->
{% endblock %}
