{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chemicle</title>
  <link rel="icon" href="{% static 'logo_assets/logo.png'%}" type="image/x-icon" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Muli:300,400,700,900" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'landing_page/fonts/icomoon/style.css' %}" />

  <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'landing_page/css/jquery-ui.css' %}" />
  <link rel="stylesheet" href="{% static 'landing_page/css/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'landing_page/css/owl.theme.default.min.css' %}" />
  <link rel="stylesheet" href="{% static 'landing_page/css/owl.theme.default.min.css' %}" />

  <link rel="stylesheet" href="{% static 'landing_page/css/jquery.fancybox.min.css' %}" />

  <link rel="stylesheet" href="{% static 'landing_page/css/bootstrap-datepicker.css' %}" />

  <link rel="stylesheet" href="{% static 'landing_page/fonts/flaticon/font/flaticon.css' %}" />

  <link rel="stylesheet" href="{% static 'landing_page/css/aos.css' %}" />

  <link rel="stylesheet" href="{% static 'landing_page/css/style.css' %}" />
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo">
            <a class="navbar-brand" href="{% url 'index' %}">
              <img src="{% static 'logo_assets/logo_transparent1.png' %}" alt="Chemicle Logo" height="100px"
                width="100px" id="chemical-logo" />
            </a>
          </div>
          <div>
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-xl-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#work-section" class="nav-link">Projects</a></li>
                <li>
                  <a href="#process-section" class="nav-link">Process</a>
                </li>
                <li>
                  <a href="#testimonials-section" class="nav-link">Testimonials</a>
                </li>
                <li>
                  <a href="#services-section" class="nav-link">Services</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-xl-block">
                <li>
                  <a href="{% url 'render_login' %}" class="nav-link">Login</a>
                </li>
                <li class="cta">
                  <a href="#contact-section" class="nav-link"><span
                      class="border bg-danger rounded text-white border-danger">Contact</span></a>
                </li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-xl-none site-menu-toggle js-menu-toggle float-right"><span
                class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
    </header>

    <div class="intro-section custom-owl-carousel" id="home-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mr-auto" data-aos="fade-up">
            <div class="owl-carousel slide-one-item-alt-text">
              <div class="slide-text">
                <h1>Welcome to Chemicle</h1>
                <p class="mb-5">
                  An IoT based system useful for chemical labs for analysis of various environmental parameters
                </p>
                <p>
                  <a href="{% url 'login' %}" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a>
                </p>
              </div>
              <div class="slide-text">
                <h1>Technology Stack</h1>
                <p class="mb-5">
                  Django 3.x, Python 3.8 and API-based Development
                </p>
                <p>
                  <a href="{% url 'login' %}" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a>
                </p>
              </div>
              <div class="slide-text">
                <h1>Created By</h1>
                <p class="mb-5">
                  Ayesha Gulrajani<br />
                  Jatin Acharya<br />
                  Jay Bendre<br />
                </p>
                <p>
                  <a href="{% url 'login' %}" target="_blank" class="btn btn-outline-light py-3 px-5">Get Started</a>
                </p>
              </div>

            </div>
          </div>
          <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="owl-carousel slide-one-item-alt">
              <img src="{% static 'landing_page/images/img_1.jpg' %}" alt="Image" class="img-fluid" />
              <img src="{% static 'landing_page/images/img_2.jpg' %}" alt="Image" class="img-fluid" />
              <img src="{% static 'landing_page/images/img_3.jpg' %}" alt="Image" class="img-fluid" />

            </div>

            <div class="owl-custom-direction">
              <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
              <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section section-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mr-auto mb-5" data-aos="fade-up">
            <div class="mb-5">
              <h2 class="section-title">Love Our Works</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
                possimus distinctio ex. Natus totam voluptatibus animi
                aspernatur ducimus quas obcaecati mollitia quibusdam
                temporibus culpa dolore molestias blanditiis consequuntur sunt
                nisi.
              </p>
              <p class="mb-5">
                Aperiam neque id, illum laudantium autem vero quae debitis
                tempora modi. Ipsa molestias enim in rem et incidunt beatae
                fugit, ab quam optio atque maiores facere est quidem,
                veritatis commodi.
              </p>

              <ul class="ul-check list-unstyled success">
                <li>Aperiam neque id illum laudantium</li>
                <li>Maiores facere est quidem</li>
                <li>Laudantium autem vero</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="image-absolute-box">
              <div class="box">
                <div class="icon-wrap">
                  <span class="flaticon-vector"></span>
                </div>
                <h3>Pixel Perfect Templates</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Obcaecati commodi aspernatur eum eius inventore facilis.
                </p>
                <p class="mb-0">
                  Visit <a href="#" class="text-danger">Colorlib</a>
                </p>
              </div>
              <img src="{% static 'landing_page/images/img_1.jpg' %}" alt="Image" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-counter">
      <div class="row">
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="">
          <div class="counter d-flex align-items-start mb-5">
            <div class="icon-wrap">
              <span class="flaticon-reload text-primary"></span>
            </div>

            <div class="counter-text">
              <strong class="number" data-number="70">0</strong>
              <span>Data collected across days</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <div class="counter d-flex align-items-start">
            <div class="icon-wrap">
              <span class="flaticon-download text-primary"></span>
            </div>
            <div class="counter-text">
              <strong class="number" data-number="15000">0</strong>
              <span>Data points</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
          <div class="counter d-flex align-items-start mb-5">
            <div class="icon-wrap">
              <span class="flaticon-monitor text-primary"></span>
            </div>
            <div class="counter-text">
              <strong class="number" data-number="2">0</strong>
              <span>Arduinos</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
          <div class="counter d-flex align-items-start">
            <div class="icon-wrap">
              <span class="flaticon-chat text-primary"></span>
            </div>
            <div class="counter-text">
              <strong class="number" data-number="3">0</strong>
              <span>Collaborators</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section section-2 bg-light" id="process-section" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title">Our Approach</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
              possimus distinctio ex. Natus totam voluptatibus animi
              aspernatur ducimus quas obcaecati mollitia quibusdam temporibus
              culpa dolore molestias blanditiis consequuntur sunt nisi.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="process bg-white rounded">
              <div>
                <span class="flaticon-glasses display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Data Gathering</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Rem possimus distinctio ex. Natus totam voluptatibus animi
                  aspernatur ducimus quas obcaecati mollitia quibusdam
                  temporibus culpa dolore molestias blanditiis consequuntur
                  sunt nisi.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="process bg-white rounded">
              <div>
                <span class="flaticon-vector display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Implementation</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Rem possimus distinctio ex. Natus totam voluptatibus animi
                  aspernatur ducimus quas obcaecati mollitia quibusdam
                  temporibus culpa dolore molestias blanditiis consequuntur
                  sunt nisi.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="process bg-white rounded">
              <div>
                <span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Launch</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Rem possimus distinctio ex. Natus totam voluptatibus animi
                  aspernatur ducimus quas obcaecati mollitia quibusdam
                  temporibus culpa dolore molestias blanditiis consequuntur
                  sunt nisi.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section testimonial-wrap custom-owl-carousel" id="testimonials-section">
      <div class="container">
        <div class="row text-center justify-content-center mb-5" data-aos="fade-up">
          <div class="col-lg-6 mb-5 text-center">
            <h2 class="section-title w-100 mx-auto">Testimonials</h2>
            <p>
              Collaboartors of chemicle with their functionalities
            </p>
          </div>
        </div>
        <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5 mr-auto">
            <div class="owl-carousel slide-one-item-alt-text">
              <div class="slide-text">
                <blockquote>
                  <p>
                    UX designer and Database Implementation
                  </p>
                  <p class="author">&mdash; Ayesha Gulrajani</p>
                </blockquote>
              </div>
              <div class="slide-text">
                <blockquote>
                  <p>
                    IoT expert and Database Implementation
                  </p>
                  <p class="author">&mdash; Jatin Acharya</p>
                </blockquote>
              </div>
              <div class="slide-text">
                <blockquote>
                  <p>
                    Database Administrator and Data communications
                  </p>
                  <p class="author">&mdash; Jay Bendre</p>
                </blockquote>
              </div>

            </div>
          </div>
          <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="owl-carousel slide-one-item-alt">
              <img src="{% static 'landing_page/images/person_1.jpg' %}" alt="Image" class="img-fluid" />
              <img src="{% static 'landing_page/images/person_2.jpg' %}" alt="Image" class="img-fluid" />
              <img src="{% static 'landing_page/images/person_3.jpg' %}" alt="Image" class="img-fluid" />
            </div>

            <div class="owl-custom-direction">
              <a href="#" class="custom-prev"><span class="icon-keyboard_arrow_left"></span></a>
              <a href="#" class="custom-next"><span class="icon-keyboard_arrow_right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light" id="services-section" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title">Services</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem
              possimus distinctio ex. Natus totam voluptatibus animi
              aspernatur ducimus quas obcaecati mollitia quibusdam temporibus
              culpa dolore molestias blanditiis consequuntur sunt nisi.
            </p>
          </div>
        </div>
      </div>

      <div class="owl-carousel nonloop-block-14">
        <div class="service">
          <div>
            <span class="custom-icon-wrap"><span class="flaticon-reload"></span></span>
            <h3>Branding Design</h3>
            <p>
              Natus totam voluptatibus animi aspernatur ducimus quas obcaecati
              mollitia quibusdam temporibus culpa dolore molestias blanditiis
              consequuntur sunt nisi.
            </p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="custom-icon-wrap"><span class="flaticon-download"></span></span>
            <h3>WordPress Integration</h3>
            <p>
              Natus totam voluptatibus animi aspernatur ducimus quas obcaecati
              mollitia quibusdam temporibus culpa dolore molestias blanditiis
              consequuntur sunt nisi.
            </p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="custom-icon-wrap"><span class="flaticon-monitor"></span></span>
            <h3>Web Development</h3>
            <p>
              Natus totam voluptatibus animi aspernatur ducimus quas obcaecati
              mollitia quibusdam temporibus culpa dolore molestias blanditiis
              consequuntur sunt nisi.
            </p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="custom-icon-wrap"><span class="flaticon-chat"></span></span>
            <h3>HTML5/CSS3</h3>
            <p>
              Natus totam voluptatibus animi aspernatur ducimus quas obcaecati
              mollitia quibusdam temporibus culpa dolore molestias blanditiis
              consequuntur sunt nisi.
            </p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="custom-icon-wrap"><span class="flaticon-glasses"></span></span>
            <h3>Web Templates</h3>
            <p>
              Natus totam voluptatibus animi aspernatur ducimus quas obcaecati
              mollitia quibusdam temporibus culpa dolore molestias blanditiis
              consequuntur sunt nisi.
            </p>
          </div>
        </div>

        <div class="service">
          <div>
            <span class="custom-icon-wrap"><span class="flaticon-vector"></span></span>
            <h3>Creative Design</h3>
            <p>
              Natus totam voluptatibus animi aspernatur ducimus quas obcaecati
              mollitia quibusdam temporibus culpa dolore molestias blanditiis
              consequuntur sunt nisi.
            </p>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>About Us</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro
              consectetur ut hic ipsum et veritatis corrupti. Itaque eius
              soluta optio dolorum temporibus in, atque, quos fugit sunt sit
              quaerat dicta.
            </p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="#home-section" class="smoothscroll">Home</a></li>
              <li>
                <a href="#work-section" class="smoothscroll">Projects</a>
              </li>
              <li>
                <a href="#process-section" class="smoothscroll">Process</a>
              </li>
              <li>
                <a href="#testimonials-section" class="smoothscroll">Testimonials</a>
              </li>
              <li>
                <a href="#services-section" class="smoothscroll">Services</a>
              </li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3>Subscribe</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Nesciunt incidunt iure iusto architecto? Numquam, natus?
            </p>
            <form action="#">
              <div class="d-flex mb-5">
                <input type="text" class="form-control rounded-0" placeholder="Email" />
                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe" />
              </div>
            </form>
          </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                All rights reserved | This template is made with
                <i class="icon-heart text-danger" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- .site-wrap -->

  <script src="{% static 'landing_page/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'landing_page/js/jquery-ui.js' %}"></script>
  <script src="{% static 'landing_page/js/popper.min.js' %}"></script>
  <script src="{% static 'landing_page/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'landing_page/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'landing_page/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'landing_page/js/aos.js' %}"></script>
  <script src="{% static 'landing_page/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'landing_page/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'landing_page/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'landing_page/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'landing_page/js/main.js' %}"></script>
</body>

</html>