{% extends "admin/boilerplate.html" %}{% load static %}
<!--[if lt IE 8]>
  <p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.
  </p>
<![endif]-->
<!-- preloader area start -->
{% block Admin %}
<!-- page title area end -->
<!-- row area start-->
<div class="page-title-area">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="breadcrumbs-area clearfix">
        <h4 class="page-title pull-left">Dashboard</h4>
        <ul class="breadcrumbs pull-left">
          <li><a href="{% url 'login' %}">Home</a></li>
          <li><span>Dashboard</span></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 clearfix">
      <div class="user-profile pull-right">
        <img
          class="avatar user-thumb"
          src="{% static 'images/author/avatar.png' %}"
          alt="avatar"
        />
        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
          {{ request.session.username }} <i class="fa fa-angle-down"></i>
        </h4>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Message</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  
  <div class="container container-fluid text-center mt-2">
    Welcome back , {{ request.session.username }}
    <br />
    You are  : {{ request.session.role }} 
  </div>

 
<div class="pt--20">
  <div class="row">
    <div class="col-md-4 ">
      <div class="card">
        <div class="seo-fact sbg1">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon">
              <i class="fa fa-thermometer-half"></i>Average temperature
            </div>
            <h2>{{ temp_avg|floatformat:2 }} °C</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card">
        <div class="seo-fact sbg4">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon">
              <i class="fa fa-tint"></i>Average Humidity
            </div>
            <h2>{{ hum_avg|floatformat:2 }} %</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card">
        <div class="seo-fact sbg2">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon">
              <i class="fa fa-line-chart"></i>
              Average AQI
            </div>
            <h2>{{ aqi_avg|floatformat:2 }} </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt--20">
  <div class="row">
    <div class="col-md-4 ">
      <div class="card">
        <div class="seo-fact sbg2">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon">
              <i class="fa fa-id-card" aria-hidden="true"></i> Lab Incharges
            </div>
            <h2>{{ lab_incharge }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card">
        <div class="seo-fact sbg3">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon">
              <i class="fa fa-flask"></i>Lab Operators
            </div>
            <h2>{{ lab_operator }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card">
        <div class="seo-fact sbg1">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon">
              <i class="fa fa-users"></i>
              Departments
            </div>
            <h2>{{ department }} </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt--20">
  <div class="card text-center">
    <h5 class="card-title" style="font-weight: bold; font-size: 25px;!important">Live Data</h5>
    <h6 class="card-subtitle mb-2 text-muted">Fetched from Thingspeak</h6>
    <div class="card-body">
      {% include "admin/statistics/live_data.html" %}
    </div>
  </div>
</div>

</div>


{% endblock%}
