
       .ct-chart {
           position: relative;
       }
       .ct-legend {
           position: relative;
           z-index: 10;
           list-style: none;
           text-align: center;
       }
       .ct-legend li {
           position: relative;
           padding-left: 23px;
           margin-right: 10px;
           margin-bottom: 3px;
           cursor: pointer;
           display: inline-block;
       }
       .ct-legend li:before {
           width: 12px;
           height: 12px;
           position: absolute;
           left: 0;
           content: '';
           border: 3px solid transparent;
           border-radius: 2px;
       }
       .ct-legend li.inactive:before {
           background: transparent;
       }
       .ct-legend.ct-legend-inside {
           position: absolute;
           top: 0;
           right: 0;
       }
       .ct-legend.ct-legend-inside li{
           display: block;
           margin: 0;
       }
       .ct-legend .ct-series-0:before {
           background-color: #d70206;
           border-color: #d70206;
       }
       .ct-legend .ct-series-1:before {
           background-color: #f05b4f;
           border-color: #f05b4f;
       }
       .ct-legend .ct-series-2:before {
           background-color: #f4c63d;
           border-color: #f4c63d;
       }
       .ct-legend .ct-series-3:before {
           background-color: #d17905;
           border-color: #d17905;
       }
       .ct-legend .ct-series-4:before {
           background-color: #453d3f;
           border-color: #453d3f;
       }
       
       .ct-chart-line-multipleseries .ct-legend .ct-series-0:before {
           background-color: #d70206;
           border-color: #d70206;
       }
       
       .ct-chart-line-multipleseries .ct-legend .ct-series-1:before {
           background-color: #f4c63d;
           border-color: #f4c63d;
       }
       
       .ct-chart-line-multipleseries .ct-legend li.inactive:before {
           background: transparent;
       }

       .crazyPink li.ct-series-0:before {
          background-color: #C2185B;
          border-color: #C2185B;
       }

       .crazyPink li.ct-series-1:before {
          background-color: #E91E63;
          border-color: #E91E63;
       }

       .crazyPink li.ct-series-2:before {
          background-color: #F06292;
          border-color: #F06292;
       }
       .crazyPink li.inactive:before {
          background-color: transparent;
       }

       .crazyPink ~ svg .ct-series-a .ct-line, .crazyPink ~ svg .ct-series-a .ct-point {
          stroke: #C2185B;
       }

       .crazyPink ~ svg .ct-series-b .ct-line, .crazyPink ~ svg .ct-series-b .ct-point {
          stroke: #E91E63;
       }

       .crazyPink ~ svg .ct-series-c .ct-line, .crazyPink ~ svg .ct-series-c .ct-point {
          stroke: #F06292;
       }
       /* Page styling */
       h1, h2, h3{
          color: #5b4421;
          text-transform: uppercase;
       }

       h1, h2{
          text-align: center;
       }

       h3 > * {
          text-transform: none;
       }

       .codeblock-hidden{
          display: none;
       }

      .javascript.hljs {
             background-color: #453D3F;
             padding: 1.3333333333rem;
             color: #f7f2ea;
             font-family: "Source Code Pro","Courier New",monospace!important;
             line-height: 1.4;
             word-wrap: break-word;
             height: auto;
             margin-bottom: 1.3333333333rem
       }

       .ct-hidden {
          opacity: 0;
       }

       .ct-dimmed {
          opacity: 0.5;
       }

       .javascript.hljs span::selection, .javascript.hljs::selection {
         background: #2a2526!important
       }

       .javascript.hljs .hljs-comment {
             color: #7b6d70
       }

       .javascript.hljs .hljs-atom,.javascript.hljs .hljs-number {
             color: #F4C63D
       }

       .cm-s-3024-day .hljs-attribute,.javascript.hljs .hljs-property {
             color: #f7f2ea
       }

       .javascript.hljs .hljs-keyword {
             color: #F05B4F;
             font-weight: 700
       }

       .javascript.hljs .hljs-string {
             color: #F4C63D
       }

       .javascript.hljs .hljs-variable {
             color: #f7f2ea
       }

       .javascript.hljs .hljs-def,.javascript.hljs .hljs-variable-2 {
             color: #f8b3ad
       }

       .javascript.hljs .hljs-bracket {
             color: #3a3432
       }

       .javascript.hljs .hljs-tag {
             color: #F05B4F;
             font-weight: 700
       }

       .javascript.hljs .hljs-link {
             color: #F4C63D
       }

       .javascript.hljs .hljs-error{
             background-color: #F05B4F;
             color: #453D3F
       }

       .javascript.hljs .hljs-literal{
             color: #F05B4F;
       }

       .javascript.hljs .CodeMirror-activeline-background {
             background: #e8f2ff!important
       }

       .javascript.hljs .CodeMirror-matchingbracket {
             text-decoration: underline;
             color: #fff!important
       }
       .button, button {
          border-radius: 0;
          border-style: solid;
          border-width: 0;
          cursor: pointer;
          font-weight: 400;
          line-height: normal;
          margin: 5px auto;
          text-align: center;
          display: block;
          padding: 1rem 2rem 1.0625rem;
          font-size: 1rem;
          background-color: #F4C63D;
          border-color: #e7b00d;
          color: #453D3F;
       }
      